span {
    color: #2197DA;
    float: right;
    padding-right: 10%;
}
.day{
    width: 70%;
    display: inline-block;
}

.day-admin {
    display: flex;
    align-items: center;
}
.day-admin h2 {
    flex: 1;
}

.submitButton{
    color: white;
    font-size: 20px;
    background: #2197DA;
    border: 0;
    cursor: pointer;
    margin-top: 17px;
    width: 100px;
    float: right;
    height: 35px;
    border-radius: 12px;
}