body {
  margin: 0;
  font-family: Lato;
  color: white;
  background-color: black;
}

.about_title{
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.about_text{
  color: white;
  text-align: left;
  font-size: 22px;
  padding-left: 300px;
  padding-right: 300px;
}

.about_sign_up{
  width:187px;
  height: 60px;
  background-color: #2197DA;
  color: white;
  font-size: 27px;
  float: right;
  border: none;
  border-radius: 17px;
  margin-right: 320px;
  margin-top: 20px;
  cursor: pointer;
}

table.bookings {
  width: 100%;
}

table.bookings td {
  padding: 5px 2px;
}
table.bookings thead tr td {
  border-bottom: white 1px solid;
}
table.bookings tbody tr:hover {
  background-color: #2197DA;
}

.bookings .button {
  background-color: #2197DA;
  padding: 5px 12px;
}
.bookings .button:hover {
  cursor: pointer;
  background-color: rgb(250, 34, 34);
}