body {
  margin: 0;
  font-family: Lato;
  color: white;
  background-color: black;
  min-width: 960px;
}

/*About us page css*/
.about_title{
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.about_text{
  color: white;
  text-align: left;
  font-size: 22px;
  padding-left: 300px;
  padding-right: 300px;
}

.about_sign_up{
  width:187px;
  height: 60px;
  background-color: #2197DA;
  color: white;
  font-size: 27px;
  float: right;
  border: none;
  border-radius: 17px;
  margin-right: 320px;
  margin-top: 20px;
  cursor: pointer;
}

table.bookings {
  width: 100%;
}

table.bookings td {
  padding: 5px 2px;
}
table.bookings thead tr td {
  border-bottom: white 1px solid;
}
table.bookings tbody tr:hover {
  background-color: #2197DA;
}

.bookings .button {
  background-color: #2197DA;
  padding: 5px 12px;
}
.bookings .button:hover {
  cursor: pointer;
  background-color: rgb(250, 34, 34);
}

/*Header css for nav bar*/
header {
  margin: 20px;
}

.Logo{
  font-size: 40px;
  padding-left: 18px;
  display: inline;
}

.register_button{
  border-radius: 15px;
  height: 50px;
  width: 130px;
  font-size: 25px;
  font-family: Lato;
  border: none;
  background-color: #2197DA;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

.top_menu {
  padding-top: 4px;
  display: inline;
  float: right;
}

/*Homepage CSS*/
.homepage_phrase {
  padding-top: 50px;
  padding-left: 60px;
  width: 400px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  color: #FFFFFF;
}

.divider_homepage {
  position: absolute;
  width: 600px;
  height: 0px;
  left: 53px;
  top: 380px;
  border-radius: 5px;
  border: 4px solid #2197DA;
}

.sign_up_button_div {
  /* SignUpButton */
  position: absolute;
  width: 161px;
  height: 62px;
  left: 20px;
  top: 50px;
}

.sign_up_button {
  position: absolute;
  width: 150px;
  height: 60px;
  left: 480px;
  top: 355px;
  font-family: Lato;
  font-size: 36px;
  background-color: #2197DA;
  border-radius: 20px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.homepage_container {
  margin-top: 100px;
}

/*Roster page CSS*/
span {
  color: #2197DA;
  float: right;
  padding-right: 10%;
}
.day{
  width: 70%;
  display: inline-block;
}

.submit_button{
  color: white;
  font-size: 20px;
  background: #2197DA;
  border: 0;
  cursor: pointer;
  margin-top: 17px;
  width: 100px;
  float: right;
  height: 35px;
  border-radius: 12px;
}