body {
    min-width: 960px;
}

header {
    margin: 20px;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.Logo{
    font-size: 40px;
    padding-left: 18px;
    display: inline;
}

.RegisterButton{
    border-radius: 15px;
    height: 50px;
    width: 130px;
    font-size: 25px;
    font-family: Lato;
    border: none;
    background-color: #2197DA;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.top-menu {
    padding-top: 4px;
    display: inline;
    float: right;
}