.BookingTitle{

    margin-bottom: 50px;

    color: #2197DA;
}

.buttons {
    margin-top: 600px;
    background: #1111;
    border-radius: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #111111;
    float: left;
}

.container {
    width: 46%;
    /* background-color: white; */
    margin: 10% 27%;
    padding: 20px 40px;
    border-radius: 10px;
}

.container > h1 {
    color: #2197DA;
    margin-bottom: 50px;
}

label {
    font-size: 18px;
    color: white;
}


.col-1 {
    width: 20%;
    float: left;
}

.col-2 {
    width: 60%;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.updateButton {
    background: #2197da;
    border-radius: 15px;
    cursor: pointer;
}