.BookingsTitle {
  position: absolute;
  width: 137px;
  height: 29px;
  left: 630px;
  top: 178px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.Bookings {
  position: absolute;
  width: 957px;
  height: 126px;
  left: 228px;
  top: 261px;

  /* background: #51778c; */
  background: white;
  mix-blend-mode: exclusion;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: auto;
}

.cancelBtn {
  position: relative;
  width: 101px;
  height: 39px;
  left: 658px;
  top: 370px;

  background: #2197da;
  border-radius: 15px;
}

p {
  color: black;
}

.SpecialInstructions {
  position: relative;
  width: 400px;
  height: 22px;
  left: 554px;
  top: 400px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

.FormAttribute {
  position: relative;
  width: 400px;
  height: 22px;
  left: 500px;
  top: 475px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

input {
  /* background: #51778c; */
  background: white;
}

.UpdateButton {
  background: #2197da;
  border-radius: 15px;
}
