.container {
  width: 46%;
  /* background-color: white; */
  margin: 10% 27%;
  padding: 20px 40px;
  border-radius: 10px;
}

.container > h1 {
  color: #2197da;
  margin-bottom: 50px;
}

label {
  font-size: 18px;
  color: white;
}

input {
  border: 1px solid #ddd;
  padding: 8px 12px;
  width: 100%;
  border-radius: 3px;
  margin: 2px 0 20px 0;
}

button[type="submit"] {
  color: white;
  font-size: 20px;
  background: #2197da;
  border: 0;
  cursor: pointer;
  margin-top: 17px;
  width: 100px;
  float: right;
  height: 35px;
  border-radius: 12px;
}

.col-1 {
  width: 20%;
  float: left;
}

.col-2 {
  width: 60%;
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.Jobs {
  /* position: absolute; */
  width: 957px;
  height: 126px;
  left: 228px;
  top: 381px;

  /* background: #51778c; */
  background: white;
  mix-blend-mode: exclusion;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: auto;
}
.doneBtn {
  position: relative;
  width: 101px;
  height: 39px;
  left: 658px;
  top: 110px;

  background: white;
  border-radius: 15px;
}

.delBtn {
  position: relative;
  width: 101px;
  height: 39px;
  left: 658px;
  top: 110px;

  background: white;
  border-radius: 15px;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

ul li {
  color: black;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.accountButton {
  background: #2197da;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  margin: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
}

.accountButton:hover {
  background: #1770a3;
  transition: 0.4s;
}

.button {
  color: #fff;
}