html, body{
    position: relative;
    width: 1440px;
    height: 900px;

    background: #000000;
}
.Logo {
    position: absolute;
    width: 186px;
    height: 96px;
    left: 53px;
    top: 41px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFDFD;
      
}

.Links{
    /* position: absolute; */
    width: 536px;
    height: 50px;
    left: 872px;
    top: 49px;

    color: #FFFFFF;
}

.Services {
    position: absolute;
    width: 87px;
    height: 29px;
    left: 872px;
    top: 60px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;
}

.Staff_Login {
    position: absolute;
    width: 112px;
    height: 29px;
    left: 1009px;
    top: 60px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Login{
    position: absolute;
    width: 57px;
    height: 29px;
    left: 1171px;
    top: 60px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Button{
    position: absolute;
    width: 130px;
    height: 50px;
    left: 1278px;
    top: 49px;
}

.Register{
    position: absolute;
    width: 86px;
    height: 29px;
    left: 1300px;
    top: 59px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Button_Background {
    position: absolute;
    width: 130px;
    height: 50px;
    left: 1278px;
    top: 49px;

    background: #2197DA;
    border-radius: 15px;
}

.Phrase {
    position: absolute;
    left: 3.68%;
    right: 54.79%;
    top: 17.89%;
    bottom: 56.44%;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Line {
    position: absolute;
    width: 582.97px;
    height: 0px;
    left: 53px;
    top: 380px;

    border: 5px solid #2197DA;
    transform: rotate(0.2deg);
}

.Sign_Up_Button {
    /* SignUpButton */
    position: absolute;
    width: 161px;
    height: 62px;
    left: 20px;
    top: 50px;
}

.Sign_Up {
    position: absolute;
    width: 123px;
    height: 43px;
    left: 464px;
    top: 371px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Sign_Up_Background {
    position: absolute;
    width: 161px;
    height: 62px;
    left: 445px;
    top: 361px;

    background: #2197DA;
    border-radius: 15px;
}